@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
/* BASIC SETUP START */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --primary: #50bec9;
  --black: #000;
  --primary-hover: #3daeb9;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-size: 1.4rem;
  background-color: var(--white);
  color: var(--black);
  font-family: "Open Sans", sans-serif;
}
/* BASIC SETUP END */

/* REUSEABLE STYLES START*/
.main-title {
  font-size: 6rem;
  text-transform: capitalize;
  display: inline-block;
  width: 33%;
  margin-left: 5%;
}
.section-title {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 2.2rem;
  color: var(--primary);
  text-align: center;
}
.section-title::after {
  content: "";
  width: 30px;
  height: 3px;
  display: block;
  margin: 5px auto 10px;
  background: var(--primary);
}
.section-white-title.section-title {
  color: var(--white);
}
.section-white-title.section-title::after {
  background: var(--white);
}
.sub-title {
  font-size: 1.8rem;
  color: var(--black);
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 4rem;
}
.sub-title-2 {
  font-size: 1.6rem;
  color: var(--black);
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.mission-section .sub-title-2 {
  color: var(--white);
}
img {
  width: 100%;
  display: block;
  height: auto;
}
.btn {
  color: var(--white);
  font-size: 1.8rem;
  padding: 1.7rem 4.5rem;
  cursor: pointer;
  background-color: var(--black);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.btn:hover {
  color: var(--black);
  background-color: var(--primary);
}
.btn:hover .icon-button {
  margin-left: 1rem;
  display: inline-block;
}
a.btn {
  text-decoration: none;
}

/* REUSEABLE STYLES END*/

.home-section {
  background: linear-gradient(#3a3b3ac4, #3a3b3ac4),
    url("../img/hero-image.jpg") no-repeat center;
  background-size: cover;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--primary);
  z-index: 10000;
}
.header-area {
  max-width: 90%;
  margin: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  place-items: center;
}
.nav-bar .brand-name {
  text-decoration: none;
  color: var(--white);
}
.nav-items {
  display: flex;
}
.nav-items .nav-list,
.footer .footer-item {
  list-style: none;
}
.nav-items .nav-link,
.footer .footer-link {
  display: inline-block;
  padding: 1.8rem 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  text-decoration: none;
}
.nav-bar .brand-name:focus,
.nav-bar .nav-link:focus {
  outline: none;
}
.nav-items .nav-link:hover,
.footer .footer-link:hover {
  background-color: var(--primary-hover);
  color: var(--white);
}
.container {
  max-width: 90%;
  margin: auto;
}
.main-title-technology {
  color: var(--white);
}
.main-title-innovation {
  color: var(--primary);
  margin-left: 10px;
}
.text {
  padding: 30rem 0;
  position: relative;
}
.homepage-button .btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.discuss-grid {
  display: grid;
  grid-template-columns: 40% 59%;
  background: #e7e7e7;
  gap: 1%;
}
.grid-image-that-span-two-column {
  position: relative;
}
.discuss-grid .icon-box img {
  width: 20%;
}
.icon-box {
  text-align: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #3a3b3ac4;
}
.overlay-text p {
  color: var(--white);
  width: 75%;
}
.client-section {
  padding-top: 5rem;
  background-color: #e7e7e7;
}
.grid-client {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.client-list {
  border: 1px solid #e1e1e1;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-list img {
  width: 60%;
}
.expert-section {
  padding-top: 5rem;
}
.four-column-grid {
  display: grid;
  grid-template-columns: 5% 87% 5%;
  place-items: center;
  column-gap: 2rem;
  padding: 5rem 0;
}
.expert-avatar-and-details {
  display: flex;
  align-items: center;
}
.arrow {
  cursor: pointer;
}
.arrow i {
  color: var(--primary);
}
.expert-avatar img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.expert-details {
  margin-left: 5rem;
  text-align: center;
}

.join-section {
  padding: 5rem 0;
  background: #e7e7e7;
}
.join-text-margin {
  margin-top: 10%;
}
.join-section .section-title {
  text-align: left;
}
.join-section .section-title::after {
  margin: 5px 0px;
}
.join-text {
  text-align: left;
  margin: 5% 30% 0 0;
  line-height: 2;
  text-transform: none;
}
.join-icons {
  display: flex;
  column-gap: 8rem;
  margin-top: 5%;
}
.explore-button {
  margin-top: 5rem;
  text-align: center;
}
.icon-button {
  display: none;
}
.join-image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #3a3b3ac4;
}
.join-right {
  position: relative;
}
.video-player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.contact-section {
  padding: 15rem 0;
  background-color: var(--primary);
}
.contact-section .section-title {
  color: var(--white);
}
.contact-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.contact-section .btn:hover {
  border: 1px solid #fff;
}
footer {
  background-color: var(--black);
}
.nav-items.footer .nav-link {
  color: var(--white);
}
.footer {
  display: flex;
  justify-content: center;
}
.footer .footer-link {
  color: var(--white);
}
/* ABOUT PAGE */

.about-page.home-section {
  background-image: url("../img/about_page_hero_image.jpg");
}

.mission-section {
  padding: 10rem 0;
  background-color: var(--primary);
}
.mission-section .sub-title-2 {
  text-transform: none;
}
.team-section {
  padding: 5rem 0 2rem;
}
.team-flex {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
.team-members {
  display: flex;
  justify-content: space-around;
}
.team-members-image {
  flex-basis: 15%;
}
.member-name {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
}
.title {
  text-align: center;
  font-size: 2rem;
}
.work-section {
  padding: 10rem 0;
  background-color: var(--primary);
}
.work-section .sub-title {
  color: var(--white);
}
.working-item .sub-title-2 {
  color: var(--white);
}
.work-with-us-section {
  padding: 3rem 0 15rem;
  background: linear-gradient(#3a3b3ac4, #3a3b3ac4),
    url("../img/work-with-us.jpg") no-repeat 0 40%;
  background-size: cover;
}
.work-with-us-section .sub-title {
  color: var(--white);
}
.down-arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: var(--primary);
  cursor: pointer;
}

.contact-page.home-section {
  background-image: url("../img/contact_page_hero_image.jpg");
}

.main-title-contact {
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 15rem;
}
.form input,
textarea {
  padding: 1rem 2rem;
}
.user-message {
  grid-area: 2/1/2/4;
}
.form-flex {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.form label {
  color: var(--black);
  font-weight: 700;
  text-transform: capitalize;
}
.submit-btn {
  justify-self: end;
  grid-area: 3/3/3/4;
}
.form-section {
  padding: 5rem 0;
}
.contact-information {
  margin: 15% 0% auto 10%;
}
.contact-information .section-title::after {
  margin: 5px 0;
}
.contact-information .section-title,
.contact-information .sub-title-2 {
  text-align: left;
}
.contact-map-section .two-column-grid {
  gap: 0;
}
/*
color

primary #50BEC9 header text and sometimes background
secondary #fff background and sometime text
third #000 text and footer
fourth #e7e7e7e overlay and background
*/

/* media queries */

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  .grid-client {
    grid-template-columns: repeat(2, 1fr);
  }
  .two-column-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .discuss-grid {
    grid-template-columns: 1fr;
  }
  .overlay-text {
    width: 100%;
  }
  .icon-box-description {
    width: 80%;
  }
  .discuss-grid .two-column-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .join-section .section-title {
    text-align: center;
  }
  .join-section .section-title::after {
    margin: 5px auto 10px;
  }

  .join-text {
    margin: auto;
    text-align: center;
  }
  .join-icons {
    display: grid;
    justify-content: center;
    margin: 5% 0;
    grid-template-columns: repeat(2, auto);
    row-gap: 5rem;
  }
  .join-text-margin {
    margin-top: 0;
  }
  .expert-avatar-and-details {
    flex-direction: column;
    row-gap: 2rem;
  }
  .expert-details {
  margin-left: 0;
  text-align: center;
  width: 80%;
}
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 6px;
  }
  .grid-client {
    grid-template-columns: repeat(1, 1fr);
  }

  .discuss-grid .two-column-grid {
    grid-template-columns: 1fr;
  }
  .client-list img {
    width: 30%;
  }
  .client-list {
    padding: 5rem 0;
  }
  .discuss-grid .icon-box img {
    width: 15%;
  }
}
