@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
/* BASIC SETUP START */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --primary: #50bec9;
  --section-description: #343434;
  --text-color: #787f86;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-size: 1.4rem;
  background-color: #fff;
  color: #000;
  font-family: "Open Sans", sans-serif;
}
/* BASIC SETUP END */

/* REUSEABLE STYLES START*/
.main-title {
  font-size: 6rem;
  text-transform: capitalize;
  display: inline-block;
  width: 33%;
  margin-left: 5%;
}
.section-title {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 2.2rem;
  color: var(--primary);
  text-align: center;
}
.section-title::after {
  content: "";
  width: 30px;
  height: 3px;
  display: block;
  margin: 5px auto 10px;
  background: var(--primary);
}
.section-white-title.section-title {
  color: var(--white);
}
.section-white-title.section-title::after {
  background: var(--white);
}
.sub-title {
  font-size: 1.8rem;
  color: #5b646e;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 4rem;
}
.sub-title-2 {
  font-size: 1.6rem;
  color: #5b646e;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.mission-section .sub-title-2 {
  color: var(--white);
}
img {
  width: 100%;
  display: block;
  height: auto;
}
.btn {
  color: #fff;
  font-size: 1.8rem;
  padding: 1.7rem 4.5rem;
  cursor: pointer;
  background-color: #67bf38;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.btn:hover {
  color: var(--white);
  background-color: var(--primary);
}

a.btn {
  text-decoration: none;
}

/* REUSEABLE STYLES END*/

.home-section {
  background: linear-gradient(#3a3b3ac4, #3a3b3ac4),
    url("../img/hero-image.jpg") no-repeat center;
  background-size: cover;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--primary);
  z-index: 10000;
}
.header-area {
  max-width: 90%;
  margin: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  place-items: center;
}
.nav-bar .brand-name {
  text-decoration: none;
  color: var(--white);
}
.nav-items {
  display: flex;
}
.nav-items .nav-list {
  list-style: none;
}
.nav-items .nav-link {
  display: inline-block;
  padding: 1.8rem 2.5rem;
  color: #000;
  text-transform: capitalize;
  text-decoration: none;
}
.nav-bar .brand-name:focus,
.nav-bar .nav-link:focus {
  outline: none;
}
.nav-items .nav-link:hover {
  background-color: #3daeb9;
  color: var(--white);
}
.container {
  max-width: 90%;
  margin: auto;
}
.main-title-technology {
  color: #fff;
}
.main-title-innovation {
  color: #50bec9;
  margin-left: 10px;
}
.text {
  padding: 30rem 0;
  position: relative;
}
.homepage-button .btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.discuss-grid {
  display: grid;
  grid-template-columns: 40% 59%;
  background: #e7e7e7;
  gap: 1%;
}
.grid-image-that-span-two-column {
  position: relative;
}
.discuss-grid .icon-box img {
  width: 20%;
}
.icon-box {
  text-align: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #4a4a49c2;
}
.overlay-text p {
  color: var(--white);
  width: 75%;
}